<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/fonts/fonts.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/img/favicon.ico" sizes="any" />
    <link rel="icon" href="/img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/styles/variables.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/product-list__style.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Корзина</title>
  </head>
  <body class="page">
    <header class="header">
      <h1 class="header__title">psyduck</h1>
      <nav class="header__navigation">
        <ul class="header__navigation-list">
          <li class="header__navigation-list-item">
            <a
              href="/"
              class="link header__navigation-link"
              >Каталог</a
            >
          </li>
          <li class="link header__navigation-list-item">
            <a href="/delivery.jl.html" class="header__navigation-link">Оплата и доставка</a>
          </li>
          <li class="link header__navigation-list-item">
            <a href="/contacts.jl.html" 0 class="header__navigation-link"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>
      <nav class="header__navigation">
        <a href="/myprofile" class="header__navigation-link">
          <img
            src="/svg/personal-cabinet.svg"
            alt="Значок человека, личный кабинет"
            class="header__navigation-icon"
          />
        </a>
        <a href="cart" class="header__navigation-link">
          <img
            src="/svg/shopping-list.svg"
            alt="Значок корзины"
            class="header__navigation-icon"
          />
        </a>
      </nav>
    </header>
    <main class="main">
      <section class="products">
        <h2 class="products__title">Корзина</h2>
        <ul class="products__list">
          <%  for_each(products) do product %>
          <li class="products-list-item">
            <p class="products-list-item__name">$(product.name)</p>
            <p class="orders-list-item__price">$(product.price)</p>
          </li>
          <% end %>
          <p class="total__price">Итого: $(totallyPrice)</p>
        </ul>    
      </section>
      <button
        class="button open-dialog__button"
        type="button"
        onclick="window['dialog-id'].showModal()"
        aria-controls="dialog-id"
      >
        <span class="button__text">Оформить заказ</span>
      </button>
    </main>
    <footer class="footer">
      <h2 class="footer__title">psyduck</h2>
      <p class="footer__description">made by Nikita Kushnirov.</p>
    </footer>
    <template class="products-template">
      <li class="products-list-item">
        <p class="products-list-item__name"></p>
        <p class="orders-list-item__price"></p>
      </li>
    </template>
    <dialog id="dialog-id" class="dialog">
      <div class="dialog__description">
        <p class="dialog__text">Заказ оформлен</p>
      </div>
      <form method="dialog">
        <button
          class="button close-dialog__button"
          type="button"
          onclick="window['dialog-id'].close()"
        >
          <span class="button__text">ОК</span>
        </button>
      </form>
    </dialog>
  </body>
</html>