.main {
  min-block-size: 100svh;
}

.link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.main,
.enter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main__title {
  font-weight: 700;
  font-size: clamp(3.125rem, 2.8886rem + 1.1461vw, 5.625rem);
  color: #D6AE01;
}

.enter-form-text {
  font-size: 1.35em;
}

.registerbutton,
.loginbutton {
  inline-size: 100%;
  block-size: max(6svh, 20px);
}