*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  block-size: 100svh;
  inline-size: 100%;
  margin: 0 auto;
  font-family: 'Exo2', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 500;
  margin: 0;
}

img {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}

.button {
  position: relative;
  background-color: var(--accent-text-color);
  border: 2px solid #000;
  cursor: pointer;
  transition: transform 0.05s linear;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  background-color: var(--main-text-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button:active {
  transform: scale(0.95);
}

.button__text {
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 90%;
  color: var(--accent-text-color);
}

.button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-text-color);
}