.header {
  padding-inline: var(--padding-inline-main);
  padding-block: var(--padding-block-main);
}

.header,
.header__navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-inline-size: 100%;
}

.header__title {
  font-weight: 700;
  font-size: clamp(1.875rem, 1.7568rem + 0.5731vw, 3.125rem);
  color: #D6AE01;
}

.header__navigation-list {
  gap: 1.25rem;
}

.header__navigation {
  display: flex;
  gap: 2rem;
}

.header__navigation-link {
  text-decoration: none;
}

.header__link-active {
  text-decoration: underline;
}