.header {
  background-color: #eeeff7;
  box-shadow: 2px 3px 5px #b8c5ff;
  padding-inline: var(--padding-inline-main);
  padding-block: var(--padding-block-main);
  margin-bottom: 20px;
}

.header,
.header__navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-inline-size: 100%;
}


@media screen and (width <= 550px){
  .header,
  .header__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-inline-size: 100%;
  }
}

.header__title {
  font-weight: 700;
  font-size: clamp(1.875rem, 1.7568rem + 0.5731vw, 3.125rem);
  color: #D6AE01;
}

.header__navigation-list {
  gap: 1.25rem;
}

.header__navigation {
  display: flex;
  gap: 2rem;
}

.header__navigation-link {
  text-decoration: none;
}

.header__link-active {
  font-weight: 600;
}

.link::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 2px;
  transform: scaleX(0);
  background-color: var(--main-text-color);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
}
