.main {
  max-block-size: 100svh;
  block-size: 100svh;
}
.account-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 60px;
}

@media screen and (width <= 550px) {
  .account-container {
    align-items: center;
    flex-direction: column;
  }
}

.avatar {
  inline-size: 300px;
  block-size: 300px;
  border-radius: 50%;
}

.account-nickname {
  font-size: 2.5rem;
  align-self: center;
}

.orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.orders__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.orders-list-item {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: var(--padding-block-main);
  border: 2px solid var(--main-text-color);
}
