:root {
  --main-text-color: #000;
  --accent-text-color: #fff;
  --padding-inline-main: 4rem;
  --padding-block-main: 2.5rem;
}

@media screen and (max-width: 1024px) {
:root {
  --padding-inline-main: 0;
  --padding-block-main: 1.25rem;
}
}